.col-lg-2
.col-lg-8
  %p=@post.title
  %p=image_tag @post.image,size:'300'
  %p=@post.content
  =@post.get_upvotes.size
  -if user_signed_in?
    %p=link_to 'like', like_post_path(@post), method: :get
  =@post.get_downvotes.size
  -if user_signed_in?
    %p=link_to 'dislike', dislike_post_path(@post), metod: :get
  %hr
  -@comments.each do |comment|
    .comment-content
      %p=comment.content
    .comment-email
      %p=comment.user.email
    %hr
  =render'comments/form'
